// $navcolor: #A3D5FF;
// $navcolor: white;
$navcolor: #f0f4fb;

// $navFontColor: white;
$navFontColor: #1a2a60;
$font_secondary_li: 1rem;
$font: 'Roboto', sans-serif;
$font_primary: 2rem;
$font_secondary: 1.5rem;
$font_third: 1rem;
$textFont: 'Quicksand', sans-serif;


// THE OG TRICK TO HIDE PHONE OVERFLOW
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: $font;
  background-color: $navcolor;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//  overflow-x: hidden; 
}

nav {
  display: grid;
  // TODO: MAKE NAVBAR STICKY
  // position: sticky;
  // top: 0;
  // width: 100%;
  /* display: flex; */
  grid-template-areas: ". a  . . b c ";
  /* distributes space evently */
  /* justify-content: space-around; */
  align-items: center;
  min-height: 8vh;
  background-color: $navcolor;
  
  
}

.logo {
  grid-area: a;
  display: flex;
  // justify-content: center;
  align-items: center;
}

.img_logo{
    grid-area: a;
    height: 8vh;
    margin-left: 4rem;
    // padding: 1rem;
}

.logo .title{
  text-transform: uppercase;
}

.title_nutriendo{
  color: $navFontColor;
}

.title_habitos{
  color: rgb(50, 116, 186);
//   color: #3274ba;
}



.nav-links {
  grid-area: b;
  display: flex;
  justify-content: space-around;
  overflow: hidden;

  
  
  /* width: 30%; */
}

.nav-links li {
  list-style: none;
  transition: all 1s ease-in;
  text-transform: uppercase;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 1rem;
//   padding: 5rem;
//   border: 1px solid black;
  
}

.nav-links li  :hover{

    color: red;
    
}

.nav-links .a_tag {
  color: $navFontColor;
  text-decoration: none;
  letter-spacing: 0.1rem;
  // font-weight: bold;
  font-size: $font_secondary_li;
  

}
// .nav-links a {
//   color: $navFontColor;
//   text-decoration: none;
//   letter-spacing: 0.1rem;
//   // font-weight: bold;
//   font-size: $font_secondary_li;

// }

.burger div {
  width: 25px;
  height: 2px;
  background-color: $navFontColor;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
    display: none;
  /* opacity: 0; */
  grid-area: c;
//   display: grid;
  justify-content: flex-end; 
}







@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

// Content 

// Hero

.hero{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  justify-content: center;
  align-items: center;
 
  height: 92vh;
  width: 100%;
  // background-image: url('/images/nuhacover.jpeg');
  background-image: url('/images/diabetic-background.jpg');
  // background-image: url('/images/light\ blue\ paper\ strip.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.text_hero{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $textFont;
  color: white;
  font-size: 3rem;
}

// HAPPY MAN SECTION

// .section_white{
//   padding: 5rem;
//   height: 70vh;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
//   align-items: center;
//   justify-content: space-around;
  
//   background-image: url('/images/Untitled\ design.png');
//    background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   background-attachment: fixed;
// }

.right_div{
  // padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // max-width: 200px;
  // margin: 0rem 5rem 0 5rem;
  
}

.right_div div{
  font-family: $textFont;
  // padding-left: 5rem;
  // text-align: center;
  // max-width: 200px;
  
  
  
}

.right_big{
  font-size: $font_primary;
  // margin: $font_primary;
  // margin-top: $font_primary;
  margin-bottom: 2rem;

}
.right_medium{
  font-size: $font_secondary;
  margin-bottom: 2rem;
}

.mision{
  margin-top: 2rem;
}
.right_small{
  padding: 5%;
  font-size: $font_third;
  line-height: 2rem;
  font-family: $textFont;
  flex-wrap: wrap;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin-bottom: 3rem;
}

.left_div{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.left_div img{
  
  padding: 0 5%;
  // width: 200px;
}

// FRUIT BACKGROUND

.healthy_bk{
  opacity: 1;
  height: 60vh;
  background-image: url('/images/light\ blue\ paper\ strip.jpg');
  // background-image: url('/images/diabetes-bk2.jpg');
  //  background-repeat: no-repeat;
   background-size: cover;
  // background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // background-attachment: fixed;
}

.healthy_bk .diabetes_fact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $navcolor;
  font-size: $font_primary;
  text-align: center;
  height: 60vh;
  padding: 5rem;
  // text-shadow: 2px 2px #ff0000;
  text-shadow: 2px 2px grey;

}



// ABOUT US SECTION

.section_white{
  // padding: 5rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  justify-content: space-around;
  // text-align: center;
  
}
.section_white_about{
  // padding: 5rem;
  // height: 100vh;
  height: auto;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  justify-content: space-around;
  

}

.block{
  
}

.about_left_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 0 5rem 0 5rem;
  width: 100%; 
}

.width_wrapper{
  // max-width: 600px;
  padding: 0 5%;
  text-align: center;
}

.about_left_div div{
  font-family: $textFont;
  // padding-left: 5rem;
  // text-align: center;
  
}

.about_left_big{
  font-size: $font_primary;
  // margin: $font_primary;
  margin-top: $font_primary;
  margin-bottom: 2rem;

}
.about_left_medium{
  font-size: $font_secondary;
  margin-bottom: 2rem;
}
.about_left_small{
  font-size: $font_third;
  line-height: 2rem;
  max-width: 500px;
  
}
.about_left_small_one{
  font-size: $font_secondary;
  line-height: 2rem;
  max-width: 600px;
}

.about_right_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_right_div img{
  padding: 5% 5% 0;
  // max-width: 80%;
  width: fit-content;
  // object-fit: cover;
  // height: 600px;
  // width: 461;
}

// ARTICLES
.article_section_body{
  // box-sizing: border-box;
  // position: relative;
  font-family: $textFont;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f4fb;
  // background-color: #B2D8F4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  
  
}

.site_container{
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.article_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
}

.article_image{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.article_image img{
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article_card{
  background: white;
  border-radius: 20px;
  transition: 0.3s;
  display: grid;
  grid-template-rows: 220px 1fr;
  margin: 0 5%;
  // margin-top: 2rem;
  // margin-bottom: 2rem;
  // margin-top: 2rem;
}

.article_card:hover{
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
}

.article_content{
  padding: 2rem;
}
.article_content .card_category{
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #6b82a7;
  display: block;
  text-decoration: none;
}

.article_content .card_title{
  margin: 1rem 0;
  color: #22447b;
}
.article_content .card_excerpt{
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b82a7;
  margin: 0;
}

// POST

.post_title{
  color: #22447b;
  font-size: $font_primary;
  margin: 2rem 0;
}

.post_body{
  color: black;
  font-size: $font_third;
  margin: 2rem 0;
  text-align: start;
  line-height: 2rem;
  font-family: $textFont;
}

.text_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// LOGIN FORM
.form_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72vh;
  width: 100%;
  ;
}
.form_container div{
  text-align: center;
}

.btn-submit{
  background-color: $navFontColor;
  margin-top: 1rem;
  border: 1px;
  border-radius: 10px;
  transition-duration: 250ms;
  color: white;
  padding: 0.5rem 1rem;
}
.btn-submit:hover{
  background-color: rgb(50, 116, 186);
}

// Individual Article
.individual_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  width:  100%;
}



// FOOTER
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 20vh;
  margin-top: 4rem;
}

.contact_us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  grid-area: a;
}
.follow_us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: b;
}

.follow_us img{
  width: 30px;
}

.boring_stuff{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boring_stuff p{
  font-weight: 400;
  font-size: 0.8rem;
}

.asadi_logo{
  width: 50px;

}

.contact_field{
  font-weight: 400;
  font-size: 0.8rem;
}
.contact_info{
  font-weight: 400;
  font-size: 0.8rem;
}


/* Cell phone friendly */
@media screen and (max-width: 1000px) {
  /* hides overlapping things */
  body {
    // overflow: hidden;
    overflow-x: hidden;
  }

//   .width_wrapper{
//   max-width: 400px;
  
// }
.img_article_size{
  max-width: 400px;
}

  .nav-links {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $navcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* moves the column out of the screen */
    transform: translateX(100%);
    transition: transfor, 0.2s ease-in;
  }
  .nav-links .a_tag {
    font-size: $font_secondary_li;
    padding: 5rem;
  }
  .nav-links li {
    /* we cannot see */
    opacity: 0;
    transition: all 1s ease-in;
  }
  .burger {
    display: block;
  }
  .section_white{
    height: auto;
  }
  .about_left_div{
    margin: 0;
  }
  .right_div{
    margin: 0;
  }
  .right_big{
    margin-top: $font_primary;
  }
  .healthy_bk{
    background-attachment: scroll;
    height: auto;
  }
  .healthy_bk .diabetes_fact{
    height: auto;
  }

  .hero{
    background-attachment: scroll;
  }
  .section_white_about{
    height: auto;
     grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 20vh;
}

.contact_us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.follow_us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow_us img{
  width: 30px;
}
.contact_field{
  font-size: 0.8rem;
}
.contact_info{
  font-weight: 400;
  font-size: 0.8rem;
}
.boring_stuff{
  display: none;
}

.site_container{
  max-width: 608px;
}

.article_card{
  display: grid;
  grid-template-rows: 220px 1fr;

}
.site_container{
    max-width: 1156px;
  }
}

  

@media screen and (max-width: 960px){
  .left_div img{
    padding: 0 5% 5%;
  }
 
}
@media screen and (max-width: 890px){
  .section_white_about{
    //  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-columns: 1fr;
  }
 
}

// @media screen and (max-width: 500px) {
//   .width_wrapper{
//     max-width: 300px;
//   }
//   .right_div div{
//     max-width: 300px;
//   }
//   .img_article_size{
//     max-width: 300px;
//   }
// }
// @media screen and (max-width: 400px) {
//   .width_wrapper{
//     max-width: 200px;
//   }
//   .right_div div{
//     max-width: 200px;
//   }
//   .img_article_size{
//     max-width: 200px;
//   }
// }

@media screen and (max-width: 450px) {
  .right_div div{
    max-width: 300px;
  }

  .internal_wrapper{
    max-width: 300px;
  }

  .img_article_size{
    max-width: 300px;
  }

  .img_logo{
    margin: 0;
  }
  .about_right_div img{
    width: 300px;
    
  }
  
  
}
@media screen and (max-width: 400px){
  .left_div img{
    padding: 0 5%;
  }
}

@media screen and (max-width: 350px) {


  .internal_wrapper{
    max-width: 250px;
  }

  .img_article_size{
    max-width: 250px;
  }

  
}



.nav-active {
  transform: translateX(0%);
  overflow-y: hidden;
}


