html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #f0f4fb;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -ms-grid;
  display: grid;
  /* display: flex; */
      grid-template-areas: ". a  . . b c ";
  /* distributes space evently */
  /* justify-content: space-around; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #f0f4fb;
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a;
  height: 8vh;
  margin-left: 4rem;
}

.logo .title {
  text-transform: uppercase;
}

.title_nutriendo {
  color: #1a2a60;
}

.title_habitos {
  color: #3274ba;
}

.nav-links {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  /* width: 30%; */
}

.nav-links li {
  list-style: none;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  text-transform: uppercase;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 1rem;
}

.nav-links li :hover {
  color: red;
}

.nav-links .a_tag {
  color: #1a2a60;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #1a2a60;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  /* opacity: 0; */
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: c;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92vh;
  width: 100%;
  background-image: url("/images/diabetic-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.text_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 3rem;
}

.right_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.right_div div {
  font-family: "Quicksand", sans-serif;
}

.right_big {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.right_medium {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.mision {
  margin-top: 2rem;
}

.right_small {
  padding: 5%;
  font-size: 1rem;
  line-height: 2rem;
  font-family: "Quicksand", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right_small_below {
  padding: 0 5% 5% 5%;
  font-size: 1rem;
  line-height: 2rem;
  font-family: "Quicksand", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.left_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_div img {
  padding: 0 5%;
}

.healthy_bk {
  opacity: 1;
  height: 60vh;
  background-image: url("/images/light blue paper strip.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.healthy_bk .diabetes_fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f0f4fb;
  font-size: 2rem;
  text-align: center;
  height: 60vh;
  padding: 5rem;
  text-shadow: 2px 2px grey;
}

.section_white {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section_white_about {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about_left_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.width_wrapper {
  padding: 0 5%;
  text-align: center;
}

.about_left_div div {
  font-family: "Quicksand", sans-serif;
}

.about_left_big {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about_left_medium {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.about_left_small {
  font-size: 1rem;
  line-height: 2rem;
  max-width: 500px;
}

.about_left_small_one {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 600px;
}

.about_right_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_right_div img {
  padding: 5% 5% 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.article_section_body {
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f0f4fb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

.site_container {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.article_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(265px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 2rem;
}

.article_image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article_image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article_card {
  background: white;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 220px 1fr;
      grid-template-rows: 220px 1fr;
  margin: 0 5%;
}

.article_card:hover {
  -webkit-box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
          box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  cursor: pointer;
}

.article_content {
  padding: 2rem;
}

.article_content .card_category {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #6b82a7;
  display: block;
  text-decoration: none;
}

.article_content .card_title {
  margin: 1rem 0;
  color: #22447b;
}

.article_content .card_excerpt {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b82a7;
  margin: 0;
}

.post_title {
  color: #22447b;
  font-size: 2rem;
  margin: 2rem 0;
}

.post_body {
  color: black;
  font-size: 1rem;
  margin: 2rem 0;
  text-align: start;
  line-height: 2rem;
  font-family: "Quicksand", sans-serif;
}

.text_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72vh;
  width: 100%;
}

.form_container div {
  text-align: center;
}

.btn-submit {
  background-color: #1a2a60;
  margin-top: 1rem;
  border: 1px;
  border-radius: 10px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  color: white;
  padding: 0.5rem 1rem;
}

.btn-submit:hover {
  background-color: #3274ba;
}

.individual_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 92vh;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 20vh;
  margin-top: 4rem;
}

.contact_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a;
}

.follow_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: b;
}

.follow_us img {
  width: 30px;
}

.boring_stuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boring_stuff p {
  font-weight: 400;
  font-size: 0.8rem;
}

.asadi_logo {
  width: 50px;
}

.contact_field {
  font-weight: 400;
  font-size: 0.8rem;
}

.contact_info {
  font-weight: 400;
  font-size: 0.8rem;
}

.footer_dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  min-height: 20vh;
}

.wrapper_footer {
  width: 100%;
}

.logo_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img_logo_footer {
  height: 6vh;
}

.logo_footer .title {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.top_footer_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mailing_input {
  background-color: #f0f4fb;
  border: 1px solid #f0f4fb;
  border-bottom: 1px solid #1a2a60;
  margin-right: 0.5rem;
}

.mailing_input:focus {
  outline: none;
}

.btn_primary {
  background-color: #1a2a60;
  border: 0;
  color: #f0f4fb;
  padding: 1px 3px;
}

.btn_primary:hover {
  background-color: red;
}

form div {
  color: #22447b;
  margin: 1rem 0 0.5rem 0;
  font-size: 0.8rem;
}

.info_below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.follow_us {
  margin-bottom: 1rem;
}

.follow_us_footer {
  color: #22447b;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 0.8rem;
}

/* Cell phone friendly */
@media screen and (max-width: 1000px) {
  /* hides overlapping things */
  body {
    overflow-x: hidden;
  }
  .img_article_size {
    max-width: 400px;
  }
  .nav-links {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f0f4fb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* moves the column out of the screen */
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: transfor, 0.2s ease-in;
    transition: transfor, 0.2s ease-in;
  }
  .nav-links .a_tag {
    font-size: 1rem;
    padding: 5rem;
  }
  .nav-links li {
    /* we cannot see */
    opacity: 0;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
  }
  .burger {
    display: block;
  }
  .section_white {
    height: auto;
  }
  .about_left_div {
    margin: 0;
  }
  .right_div {
    margin: 0;
  }
  .right_big {
    margin-top: 2rem;
  }
  .healthy_bk {
    background-attachment: scroll;
    height: auto;
  }
  .healthy_bk .diabetes_fact {
    height: auto;
  }
  .hero {
    background-attachment: scroll;
  }
  .section_white_about {
    height: auto;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 20vh;
  }
  .contact_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .follow_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .follow_us img {
    width: 30px;
  }
  .contact_field {
    font-size: 0.8rem;
  }
  .contact_info {
    font-weight: 400;
    font-size: 0.8rem;
  }
  .boring_stuff {
    display: none;
  }
  .site_container {
    max-width: 608px;
  }
  .article_card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 220px 1fr;
        grid-template-rows: 220px 1fr;
  }
  .site_container {
    max-width: 1156px;
  }
}

@media screen and (max-width: 960px) {
  .left_div img {
    padding: 0 5% 5%;
  }
}

@media screen and (max-width: 890px) {
  .section_white_about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 450px) {
  .right_div div {
    max-width: 300px;
  }
  .internal_wrapper {
    max-width: 300px;
  }
  .img_article_size {
    max-width: 300px;
  }
  .img_logo {
    margin: 0;
  }
  .about_right_div img {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .left_div img {
    padding: 0 5%;
  }
}

@media screen and (max-width: 350px) {
  .internal_wrapper {
    max-width: 250px;
  }
  .img_article_size {
    max-width: 250px;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  overflow-y: hidden;
}
/*# sourceMappingURL=styles.css.map */